<style>

  .aircraftcarrier {
    height: 50px;
    width: 50px;
    background-color: black;
    color: black;
  }

  .aircraftcarrier:hover {
    color: red;
  }

</style>

<div class="aircraftcarrier">A1</div>