<!DOCTYPE html>
<html>
<head>

</head>

<body>

  <div id="board">
<table>
    <% @keys.each_slice(10) do |slice| %>
  <tr>
      <% slice.each do |key|%>
      <td>
        <div id="<%= key.to_s %>" >
        <img src="./images/water.gif">
        </div>
        </td>
        <%end%>
  </tr>
      <%end%>

  </table>

  </div>

</body>

</html>
