<form action="/boardpage">
  <input type="radio" name="coords" value="A1">A1<br>
  <input type="radio" name="coords" value="B1">B1<br>
<br>
  <input type="radio" name="direction" value="horizontal">horizontal<br>
  <input type="radio" name="direction" value="vertical">vertical<br>
  <input type="submit" value="submit">
</form>

