
<!-- <form action="/fleetlauncher">
<input type="button" name="A1" value="A1" id="A1">

<input type="radio" name="direction" value="horizontal" id="horizontal">
<input type="radio" name="direction" value="vertical" id="vertical">

</form>
 -->
<form action="/fleetlauncher">
  <input type="radio" name="coords" value="A1">A1<br>
  <input type="radio" name="coords" value="B1">B1<br>
<br>
  <input type="radio" name="direction" value="horizontal">horizontal<br>
  <input type="radio" name="direction" value="vertical">vertical<br>
  <input type="submit" value="Submit">
</form>