<style>

  #greeting {
    color: red;
    font-size: 50px;
  }

  #start {
    color: blue;
    font-size: 50px;
  }

</style>

<%if @name && !@name.empty? %> 
  <p id="greeting">Welcome, <%= @name %>. You have been registered for the game.</p>

<% else %>
  <form action="/newgame">
  <p>What's your name?</p>
  
  <input type="text" name="name">
  <input type="hidden" name="p2name" value="<%= params[:p2name] %>">

  <input type="submit" class="submit_name" value="submit">
  

  </form>
<% end %>

<%if @p2name && !@p2name.empty? %>
  <p id="greeting">Welcome, <%= @p2name %>. You have been registered for the game.</p>

<% else %>
  <form action="/newgame">
  <p>What's your name?</p>

  <input type="text" name="p2name">
  <input type="hidden" name="name" value="<%= params[:name] %>">

  <input type="submit" class="submit_name" value="ptwosubmit">


  </form>
<% end %>

<% if (@name && !@name.empty?) && (@p2name && !@p2name.empty?) %>
  <a href="/fleetlauncher"><p id="start"> Man your battle stations!!! </p></a>
<% end %>
